*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
temp_*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
/.settings/
**.orig
rerun.txt
pickle-email-*.html
.project
.secret
