<!-- Google+ -->
<div class="social-button">
	<div class="g-plus" data-action="share" data-annotation="none"></div>
	<script type="text/javascript">
	  (function() {
	    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	    po.src = 'https://apis.google.com/js/platform.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	  })();
	</script>
</div>

<!-- Twitter -->
<div class="social-button">
	<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>

<!-- LinkedIn -->
<div class="social-button">
	<script src="//platform.linkedin.com/in.js" type="text/javascript">
	  lang: en_US
	</script>
	<script type="IN/Share"></script>
</div>

<!-- Pinterest (div for block display) -->
<div class="social-button">
	<a href="//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" style="display: block !Important;" ><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a>
	<!-- Please call pinit.js only once per page -->
	<script type="text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script>
</div>

<!-- Tumblr -->
<div class="social-button">
	<script src="http://platform.tumblr.com/v1/share.js"></script>
	<a href="http://www.tumblr.com/share" title="Share on Tumblr" style="display:inline-block; text-indent:-9999px; overflow:hidden; width:61px; height:20px; background:url('http://platform.tumblr.com/v1/share_2.png') top left no-repeat transparent;">Share on Tumblr</a>
</div>

<div class="social-button">
	<a href="http://www.reddit.com/submit" onclick="window.location = 'http://www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false"> <img src="http://www.reddit.com/static/spreddit7.gif" alt="submit to reddit" border="0" style="margin-left: 0px;"/> </a>
</div>

<!-- StumbleUpon -->
<div class="social-button" style="margin-top: 5px;">
	<!-- Place this tag where you want the su badge to render -->
	<su:badge layout="1"></su:badge>
	
	<!-- Place this snippet wherever appropriate -->
	<script type="text/javascript">
	  (function() {
	    var li = document.createElement('script'); li.type = 'text/javascript'; li.async = true;
	    li.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//platform.stumbleupon.com/1/widgets.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(li, s);
	  })();
	</script>
</div>
