<% if @work.errors.any? %>
    <div id="error_description">
    	<div class="alert alert-error">
      		There are <%= pluralize(@work.errors.count, "error") %>.
      	</div>

	  	<ul>
	  		<% @work.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
	  		<% end %>
	  </ul>
    </div>
  <% end %>