
<div class="col-lg-2">
	<div class="content-panel">
		<%= @work.blurb %>
	</div>
	<div class="content-panel">
		Social
		<div><a href="/download/<%= @work.id %>">Download</a></div>
	</div>
</div>

<div class="col-lg-8">
	<div class="content-panel">
		<div class="reading-pane">
			<%= @work.body %>
		</div>
	</div>
</div>

<div class="col-lg-2">
	<div class="content-panel fixed-donate">
		<a href="#"><%= image_tag "Donate.png" %></a>
	</div>
</div>

