<% if @user.errors.any? %>
  <div id="error_description" style="display: none;">
    <div class="alert alert-error">
      There are <%= pluralize(@user.errors.count, "error") %>.
    </div>
    
    <ul>
    	<% @user.errors.full_messages.each do |msg| %>
    		<li>* <%= msg %></li>
    	<% end %>
    </ul>
  </div>
<% end %>