<% provide(:title, "About Us")%>

<div class="content-panel">
	<h1><%= yield :title %></h1>
	
	<p>This website is born from disappointment. Generally I do not believe creation through negativity is a worthwhile endeavor, but in this case I am breaking the rules. I feel like an exception needs to be made because of a gaping hole in our system that I am here to help put right.</p>

	<p>This may seem like a pretty pretentious thing to say, but I hope you will hear my story and see if you understand that isn’t my intention. In school I remember believing I was different from everyone around me. I know now I wasn’t actually seeing the people around me, just the projections of various expectations. I was seeing the world as an artist, in a world of very clinical thinkers.</p>


 	<p>I arrived at college, and stood in awe with all the rest of the obvious freshman at a world I never knew was possible. Others who thought like me, and the freedom to enjoy it! I studied theater, playwriting, and for once I was asked the questions, and I knew the way they wanted the answers. I always knew the answers, my delivery was wrong before. Then came the real dirty trick of college. My last semester we had a class where they let us know if we actually wanted a career we would have to move to California or New York City. End of story, to make a “real living” in theater these were the places you would have to go. Where was this information during orientation?</p>

	<p>I know that it seems like a highly peculiar scenario, but you probably got a “real” degree. If you are an artist, you probably received a similar exiting class explaining to you the actual perceived usefulness of your skill set in the world.</p>
	

 	<p>Completely dejected, I wandered for a while with my useless degree. I consider myself a hard person to trick. I question things if they don’t sound right. I have no problem pressing a point, even if I look like an idiot, if it brings me to understanding. My faith was shaken because at no point in my degree did I feel scammed. What I felt was fun and acceptance, and now in this “real world” it meant nothing.</p>

 	<p>It took me a long time to figure out the problem, although maybe it seems obvious to you. My definition of usefulness did not match the current accepted definition. I have noticed this more widely as well, for example sexual definitions. When your mind naturally follows the currently accepted definition, you don’t notice it. You think it is an exceptionally trivial concept to just change your mind to fit the norm. But when it is different, sexually, psychologically, physically, mentally, whatever, this is when it matters. It is no longer trivial it is vital. All of this is very metaphysical though, and the internet is visceral.</p>

 	<p>Visceral in this context means day to day. A reality of the shared kind. I can speak with certainty about multiple artistic avenues because since graduation I have tried them all. In my day to day life I painted, photographed, danced, sang, played, in short I arted in every way possible, all attempting to make a living. What I came to realize is that in our rational, logical, compartmentalized culture art will never be seen as useful. It will never make a reasonable comparable wage to that of a “real” job because there are people who will never see it’s worth. And unfortunately those are the people who make decisions.</p>

	<p>So now we have traveled to the basis of my disappointment. I had a brief moment where my true skills were useful. Only to reenter a world where I am no longer valued. I ended up back where I started, this time choosing to write a broader stroke instead of just plays. But no matter how many these branches I follow I find myself proving my worth to more discreet satellites of people. This particular constellation may be slightly more forgiving of an artistic mindset, but at the end of the day they are still trying to please the other players in a rational game.</p>

 	<p>So I laid it out clinically, according to their rules. The expectations on me were: Write. Convince an agent/publisher/yokel with a binding press that my book will make some one some where some money. They will publish my book. Especially if you are a first time author they will expect you to promote it yourself. All so that my original intention can be met when I wrote the story- Some one will read it. Some one will love it. It could even change some one’s life.</p>

 	<p>Except these rules were laid out when those publishers were the only one with access to the people who could be changed by the art. The world is a different place now, and I intend on taking Creative Commons to a whole new level. So far that domain only includes classic works whose rights are not at all in question. But what if a currently active writer could willingly and truly give their work to the world (not a blog hosting service or even a faceless publisher), and see what hard monetary reward comes back?</p>

 	<p>Maybe you even have some writing that you have completely given up on ever being published by standard means. What if you could use it to see if your audience would pay for your writing if you could only reach them?</p>

	<p>If these ideas seem as intriguing to you as they did to me, please check out the Guide to New Users, and the Q&A page to find out more!</p>
</div>