<% provide(:title, "Home")%>
<div id="main-row" class="main-row">
	<div class="floating-grid">
		<div class="left">
			
		</div>
		<div class="middle">
			
		</div>
		<div class="right">
			
		</div>
	</div>
</div>
