<div class="floating-grid2">
	<div class="cell">
		<div class="content-panel" style="width: 50%;">
			<a href="/parastories/card"><div class="text">Business Card Stories</div><%= image_tag "Nova.png" %></a>
		</div>
	</div>
	
	<div class="cell">
		<div class="content-panel" style="width: 50%;">
			<a href="/parastories/pocket"><div class="text">Pocket Story Prompts</div><%= image_tag "Strawberry.png" %></a>
		</div>
	</div>
</div>
