<% provide(:title, "Stories")%>

<div class="floating-grid2">
	<div class="cell">
		<div class="content-panel" style="width: 50%;">
			<a href="#"><%= image_tag "Portal Newpian Cover.jpg", style: 'height: 300px;' %></a>
		</div>
	</div>
	
	<div class="cell">
		<div class="content-panel" style="width: 50%;">
			<a href="#"><%= image_tag "Corruption Cover.jpg", style: 'height: 300px;' %></a>
		</div>
	</div>
</div>
