
//Greens
$color-pri:   #162e0f;
$color-pri-d: #0b1e05;
$color-pri-l: #5d974a;

$color-comp:  #341116;
$color-comp-d:#220509;
$color-comp-l:#996158;

$creative-green:  #bad2ad;
$creative-purp-l: #c6c8ec;
