@import "framework_and_overrides";

.form-label {
  float: left;
  
  :before, :after {
    clear: both;
  }
}

.form-input {
  float: right;
  
  :before, :after {
    clear: both;
  }
}

.form-row {
  @include make-row();
}


