// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/ 
@import "shared/layout_helpers";

.main-row {
  max-width: 1170px;
}

 .floating-grid3 {
   @include bm-make-grid(3);
 }
 
 .floating-grid2 {
  @include bm-make-grid(2);
 }
 
 .mini-grid2 {
  @include bm-make-grid-d(1,2,2,3);
 }

.content-panel {
  @include bm-make-content-panel(95%, $creative-purp-l);
  
  box-shadow: 0px 0px 5px $color-pri;
  
  padding-left: 15px;
  padding-right: 15px;
}

.content-pane {
  @include bm-make-content-panel(95%, transparent);
}
