// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/ 
@import "shared/layout_helpers";

.main-row {
  max-width: 1170px;
}

 .floating-grid3 {
   @include bm-make-grid(3);
 }
 
 .floating-grid2 {
  @include bm-make-grid(2);
 }
 
 .mini-grid2 {
  @include bm-make-grid-d(1,2,2,3);
 }

.content-panel {
  @include bm-make-content-panel(95%, #a79196);
  
  box-shadow: 0px 0px 5px $color-pri;
  
  padding: 15px;
  
  overflow: auto;
}

.content-pane {
  @include bm-make-content-panel(100%, transparent);
  
}

.data-list {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  
  margin-top: 15px;
  
  .list-item-even {
    background-color: #a79fa1;
    margin-bottom: 5px;
  }
  
  .list-item-odd {
    background-color: #bfbfbf;
    margin-bottom: 5px;
  }
}

.fixed-donate {
  width: 150px;
  height: 110px;
  position: fixed;
}
